.flippy-container {
  width: 40px;
  height: 40px;
  perspective: 80px;
}

.flippy-container:hover > .flippy-card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.flippy-card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 500ms;
  transform-style: preserve-3d;
}

.flippy-front,
.flippy-back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding: 5px;
}

.flippy-back {
  transform: rotateY(180deg);
}
